:root {
    --fun-blue: #1d67b8;
    --green-pea: #154734;
    --jewel: #0b6132;
    --green_head: #007034;
    --sherwood-green: #024934;
    --mischka: #e1dfe2;
    --cloud: #c8c4c1;
    --toast: #98745f;
    --treehouse: #3c2521;
    --eclipse: #301918;
    --bunker: #0b0f12;
    --orange_feet: #E67300;
}